.phone-container {
  position: relative;
  background-color: #2c14dd;
  width: 375px;
  height: 812px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  border-radius: 20px;
}

header {
  color: white;
}

.skip-btn {
  background-color: #4c37e2;
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.card {
  background-color: #432dec;
  color: white;
}
